<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>
<div class="main">
    <h1>Edit Users</h1>
    <form method="post" th:object="${users}">
    <div class="form-group">
        <label>User
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
        </label>
            </div>

        <div class="form-group">
            <label>Access
                <input class="form-control" th:field="*{access}" />
                <span th:errors="*{access}" class="error"></span>
            </label>
        </div>
        <input type="submit" value="update" />
    </form>
</div>
</body>
</html>