
fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,


:checked{
  color: #FFD700;
}
/***** Display Rating *****/
.star-default{
    color: #d6d7d8;
}

.active-star {
    color: #FFD700;
    display: inline;
}
