<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>


<div class="container-fluid">

<h1 class="title-recipes" th:text="'Found Recipes'"></h1>


        <form class="d-flex" action="/search/sort" method="post" >
            <select class="form-control selectpicker" name="sortParameter" >
                <option value="">Sort by..</option>
                <option th:each="sortValue:${sort}"
                        th:value="${sortValue}"
                        th:text="${sortValue.getName()}">
                </option>
            </select>
            <button class="btn btn-light" type="submit">Sort</button>
        </form>



    <div class="row">
        <div class="col-3" th:each="recipe:${recipes}">

            <div style="background-color: #fefacd">
                <img class="img-med" th:src="${recipe.img}"/>
            </div>
            <table class="table">
                <a style="margin:center" th:text="${recipe.name}" th:href="'/recipes/display?recipeId=' + ${recipe.id}"></a>
            </table>

        </div>
    </div>

</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>